body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(240, 100%, 50%, 0.612);
       font-size: 1.56em;
}

h1,h2,h3 {
    cursor: pointer;
    color: rgb(248, 224, 9);
    border-radius: 5em;
    border: 3px solid rgb(87, 1, 87);
    padding: 8px;
    text-align: center;

}

.umclique:hover{
    background-color: rgb(119, 0, 255);
    color: rgb(250, 248, 248);
    transition: 1s;
}



img {
    width:99%;
    position: relative;

   
}

table,th,tr,td {
    text-align:center;
    border: 1px solid white;

    
}

td {

    color: purple;
    font-weight: bold;
    padding: 8px;
}

p {
    color: rgb(10, 1, 17);
    padding: 8px;
    text-align: justify;
    text-indent: 20px;
}

#valor1,#valor2 {
    border-radius: 9px;
    margin:10px;
    padding: 8px;
    text-align: center;
    font-size: 0.8em;
}