body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(240, 100%, 50%, 0.612);
       font-size: 1.56em;
}

h1,h2 {
    color: rgb(248, 224, 9);
    border-radius: 5em;
    border: 3px solid rgb(87, 1, 87);
    padding: 8px;
    text-align: center;

}

mark {
    margin-bottom: 6px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
}

p {
text-align: justify;
    color: rgb(12, 3, 97);
}

table,td,th,tr {
    text-align: center;
    border: 2px solid blue;
}
td, th , tr {
    width: 10%;
    padding: 2px;
}

img {

    border-radius: 20px;
    box-shadow: 4px 7px 10px yellowgreen;
}

