@charset 'utf-8';

body {
    background-color: rgb(70,142,236);
    font: normal 1em Arial;
}

code {

    font-size: 1.5em;
}

header {

    color: white;
    text-align: center;

}


h1,h3 {

    border-radius: 50px;
    text-align: center;
    padding: 8px;
    color: purple;
    border : 5px solid white

}

legend,fieldset {
    width: auto;
    border:5px white solid;
    padding: 8px;
    border-radius: 50px;
}

legend {
    
    color:red;
    font-weight: bold;
    text-shadow: 1px 1px 10px white;
}

label,#contar { 
    
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
}

input{
    width: 120px;
    font-size: 1.1em;
    font-weight: bold;
    text-align:center;
    padding:6px;
    border-radius: 8px;
}

#tabuada {
    font-size: 1.3em;
    color: green;
    text-shadow: 1px 1px 10px white;
    font-weight: bold;
    position:relative;
    left: 370px;
    top: 20px;
    margin-bottom: 20px;
    width: 940px;
    padding: 8px;
}

#inicio {
    
    color:blue;
}

#fim {
    color: purple;
}

#passo {
    color: green;
}

#inicio:hover {
    background-color:rgba(143, 138, 138, 0.445);
    cursor: pointer;

}

#fim:hover {
    background-color:rgba(143, 138, 138, 0.445);
    cursor: pointer;

}

#passo:hover {
    background-color:rgba(143, 138, 138, 0.445);
    cursor: pointer;

}

