@charset 'utf-8';

body {
    background-color: rgb(70,142,236);
    font: normal 1em Arial;
}

header {

    color: white;
    text-align: center;

}


h1 {

    border-radius: 50px;
    text-align: center;
    padding: 8px;
    color: purple;
    border : 5px solid white

}